body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1536px 753px;
}
input.topButtons
{
    float: right;
    background-color: blue;
    color: white;
    padding: 8px;
    cursor: pointer;
    width: 85px;
    font-weight: 500;
    font-size: 90%;

    margin: 8px 8px 0px 0px;
}
#midButtons{
    vertical-align: bottom;
    background-color: rgb(206, 152, 35);
    color: rgb(0, 0, 0);
    padding: 8px;
    cursor: pointer;
    width: 101px;
    font-weight: 500;
    font-size: 90%;

    margin: 8px 8px 0px 0px;
}
.middleText
{
    font-family: cursive;
    margin-left: 10px;
}
.logo-title
{
    font-family:cursive;
    font-size: 50px;
    font-style: italic;
    color: blue;
    margin: 0;
    text-decoration: none;
    margin: 10px 10px 0px 10px;
}
.container
{ 
    height: 200px;
    position: relative;
    border: 0px solid rgb(0, 0, 0); 
}
.center
{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1
{
    text-align: center;
    font-family: "Brush Script MT", cursive;
}